<PaperContent class="notification-pane layout-row">
	<PaperCard as |card|>
		<card.title 
			class="layout-column flex-initial"
		as |title|>
			<title.text class="layout-column layout-align-center-center" as |text|>
				<text.headline>
					<span class="fed">Fed</span>
					<span class="ex">Ex</span>
				</text.headline>
				<text.subhead class="layout-column layout-align-center-center">
					<div>Out for delivery</div>
					<div class="layout-row text-3xl font-bold">
						<span>13:30</span>
						<span>&nbsp;-&nbsp;</span>
						<span>14:40</span>
					</div>
				</text.subhead>
			</title.text>
		</card.title>

		<card.content class="layout-column flex">
			<PaperContent class="layout-row">
				<PaperIcon @icon="access time" />
				<span class="layout-row layout-align-center-center">Not in?</span>
				<span class="flex"></span>
				<PaperButton>
					Find a better time
				</PaperButton>
			</PaperContent>

			<PaperContent>
				<PaperIcon @icon="edit" />
				Add delivery notes
			</PaperContent>


			<span class="flex"></span>

			<PaperContent>
				<div>
					<PaperIcon @icon="person pin" />
					2400 Green St
				</div>
				<div>
					<PaperIcon @icon="" />
					<span class="light">CA 94123</span>
				</div>
			</PaperContent>

			<PaperContent class="layout-row">
				<PaperIcon @icon="sms failed" />
				<span class="layout-row layout-align-center-center">Get notified instantly</span>
				<span class="flex"></span>
				<PaperButton>
					Enable
				</PaperButton>
			</PaperContent>
		</card.content>
	</PaperCard>
</PaperContent>