html,
body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	font-smooth: always;
	word-wrap: break-word;
	flex-direction: column;

	touch-action: manipulation;
	-ms-touch-action: manipulation;
	-webkit-font-smoothing: antialiased;

	font-size: 14px;
	font-weight: 300;
	color: paper-color("grey", "800");
	font-family: "Poppins", "Roboto", "Raleway", "Open Sans", sans-serif;

	* {
		color: paper-color("grey", "800");
	}

	audio,
	video {
		width: 100%;
		height: auto;
		outline: none;
		min-height: 4em;
	}

	a,
	button,
	input,
	.link,
	[data-ember-action] {
		cursor: pointer;
		outline: none;
	}

	[contenteditable] {
		cursor: text;
		outline: none;
		padding: 1em 0;

		p {
			margin-top: 0 !important;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
		font-weight: 200;
		font-family: "Raleway", "Open Sans", sans-serif;
	}
}
